{% extends "layout.html" %}

{% block content %}
<html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
   
    <hr></hr>
    <input class="MyButton" type="button" value="Go to Python Page" onclick="window.location.href='/python01'" />

    <hr></hr>
    <input class="MyButton" type="button" value="Go to Tableau Page" onclick="window.location.href='/tableau01'" />

    <!-- #display background -->
    <style>
        body{
        background-image: url('C:\Users\Noodel and Bagel\Desktop\Data228-bigdata\project\html\flask_app04\static\image\image01.jpg')
        }
    </style>

</head>

<body>


<!-- <style>
 
    td {
           width: 150px;
           text-align: center;
           border: 1px solid black;
           padding: 5px;
         }
</style> -->


    <!-- <!insert an image!--  --> -->
<img src="static\image\image01.png" style="width:1600px; height:700px;">




<!-- <table>
    <thead>
      <tr>
          <th>post_date</th>
          <th>industry</th>
          <th>overall_count</th>
          <th>industry_count</th>
      </tr>
      </thead>    
      <tbody>
       {% for row in data %}    
              <tr>
                  <td>{{row[0]}}</td>
                  <td>{{row[1]}}</td>
                  <td>{{row[2]}}</td>
                  <td>{{row[3]}}</td>
              </tr>
          {% endfor %}
      </tbody>
  </table> -->


</body>
</html>

{% endblock %}